.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.admin-profile{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.admin-profile img{
    width: 50px;
    border-radius: 50%;
}
.admin-profile div{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.admin-profile div h1{
    font-size: 1.2rem;
}

.admin-profile div h3{
    color: #858585;
}
.header-left-section{ 
    display: flex;
    column-gap: 20px;
}
.search-box{
    background-color: var(--white);
    border-radius: 15px;
    width: 400px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.search-box input{
    border: none;
    outline: none;
    font-size: 1.1rem; 
    background-color: unset;
    width: 100%;
    padding: 10px 20px 10px 20px;
}
.search-box button{
    font-size: 1.1rem;
    width:135px;
    display: flex;
    border-radius: 10px;
    background-color: var(--blue);
    color: var(--white);
    justify-content: center;
    padding: 5px 15px;
    cursor: pointer;
}
.header-left-icon{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--blue );
    color: var(--white);
    width: 40px;
    height: 40px;
}